<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

    <div class="navbar">
        <a class="home" href="index">Home</a>
        <a href="about">About</a>
        <a href="dashboard">Dashboard</a>
        <a href="bio">Contributor Bio</a>
    </div>
    <h1 style="text-align:center">About</h1>

    <div class="row">
        <div class="about_column">
            <div class="box">
                <div class="container">
                    <p class="about_text"> There have been many wrestlers over the years but who are the people
                        behind the masks, and where are they from? Who are the best wrestlers of all time? The
                        purpose
                        of this website is to provide visualizations of data related to wrestlers. We used two data
                        sets (see links below), one from kaggle.com and one from cagematch.net.</p>
                    <a href=https://www.cagematch.net/?id=8&nr=1&page=17>https://www.cagematch.net/?id=8&nr=1&page=17/<a>

                            <a
                                href=https://www.kaggle.com/riccardoborsetto/first-win-of-the-wwe-championship><br>https://www.kaggle.com/riccardoborsetto/first-win-of-the-wwe-championship</a>
                </div>
            </div>
        </div>
    </div>

</body>